# EDA Notebook

Using data from 2018-19 academic year given that 2019-20 numbers were impacted by COVID

In [1]:
import pandas as pd

**Knight Commission**
- Used both by the Delta Report and Schwartz (https://www.knightcommission.org/)

In [2]:
knight = pd.read_excel('data/knight.xlsx')

In [3]:
knight.head()

,Data,IPEDS ID,Year,NCAA Subdivision,FBS Conference,Total Expenses,Excess Transfers Back,Other Expenses,Medical,Competition Guarantees,...,"NCAA/Conference Distributions, Media Rights, and Post-Season Football",Ticket Sales,Institutional/Government Support,Student Fees,Total Institutional/Government Support and Student Fees,Total Academic Spending (University-Wide),Total Football Spending,Total Football Coaching Salaries,Athletics Related Debt,"Annual Debt Service, Leases and Rental Fees on Athletic Facilities"
0,Abilene Christian University,222178,2019,Football Championship Subdivision,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,121513038.0,NaN,NaN,NaN,NaN
1,Alabama A & M University,100654,2019,Football Championship Subdivision,NaN,12911716.0,0.0,381766.0,232697.0,0.0,...,196603.0,475190.0,10141656.0,322073.0,10463729.0,125625364.0,3962548.0,687440.0,0.0,0.0
2,Alabama State University,100724,2019,Football Championship Subdivision,NaN,13443801.0,0.0,1131301.0,36148.0,173000.0,...,545441.0,1218991.0,10278985.0,NaN,10278985.0,132234694.0,3057163.0,1453134.0,56245000.0,9067744.0
3,Alcorn State University,175342,2019,Football Championship Subdivision,NaN,6165344.0,0.0,80686.0,19000.0,61000.0,...,0.0,1183819.0,2145280.0,1307044.0,3452324.0,65273201.0,1482784.0,765000.0,NaN,NaN
4,American University,131159,2019,No Football Subdivision,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,531811000.0,NaN,NaN,NaN,NaN

In [4]:
# Missing Values in Most Columns
knight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 31 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Data                                                                   353 non-null    object
 1   IPEDS ID                                                               353 non-null    int64
 2   Year                                                                   353 non-null    int64
 3   NCAA Subdivision                                                       353 non-null    object
 4   FBS Conference                                                         130 non-null    object
 5   Total Expenses                                                         230 non-null    float64
 6   Excess Transfers Back                                                  230 non-null    float64
 7   Other Expenses                                                         230 non-null    float64
 8   Medical                                                                230 non-null    float64
 9   Competition Guarantees                                                 228 non-null    float64
 10  Recruiting                                                             229 non-null    float64
 11  Game Expenses and Travel                                               230 non-null    float64
 12  Facilities and Equipment                                               230 non-null    float64
 13  Coaches Compensation                                                   230 non-null    float64
 14  Support and Admin Compensation w/Severance                             230 non-null    float64
 15  Athletic Student Aid                                                   229 non-null    float64
 16  Total Revenues                                                         230 non-null    float64
 17  Other Revenue                                                          230 non-null    float64
 18  Corporate Sponsorship, Advertising, Licensing                          226 non-null    float64
 19  Donor Contributions                                                    230 non-null    float64
 20  Competition Guarantees.1                                               228 non-null    float64
 21  NCAA/Conference Distributions, Media Rights, and Post-Season Football  230 non-null    float64
 22  Ticket Sales                                                           230 non-null    float64
 23  Institutional/Government Support                                       230 non-null    float64
 24  Student Fees                                                           187 non-null    float64
 25  Total Institutional/Government Support and Student Fees                230 non-null    float64
 26  Total Academic Spending (University-Wide)                              352 non-null    float64
 27  Total Football Spending                                                184 non-null    float64
 28  Total Football Coaching Salaries                                       184 non-null    float64
 29  Athletics Related Debt                                                 182 non-null    float64
 30  Annual Debt Service, Leases and Rental Fees on Athletic Facilities     181 non-null    float64
dtypes: float64(26), int64(2), object(3)
memory usage: 85.6+ KB

**Equity in Athletics Data Analysis**
- US Dept of Education Data (https://ope.ed.gov/athletics/#/)

In [5]:
eada = pd.read_excel('data/EADA_2019.xlsx')

In [6]:
eada.head()

,unitid,institution_name,addr1_txt,addr2_txt,city_txt,state_cd,zip_text,ClassificationCode,classification_name,ClassificationOther,...,TOTAL_EXPENSE_ALL_OthSpts,TOTAL_EXPENSE_ALL_Archery,TOTAL_EXPENSE_ALL_Badminton,TOTAL_EXPENSE_ALL_BchVoll,TOTAL_EXPENSE_ALL_Bowling,TOTAL_EXPENSE_ALL_Eqstrian,TOTAL_EXPENSE_ALL_Rodeo,TOTAL_EXPENSE_ALL_Sailing,TOTAL_EXPENSE_ALL_TblTennis,TOTAL_EXPENSE_ALL_WgtLift
0,100654,Alabama A & M University,4900 Meridian Street,NaN,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,...,NaN,NaN,NaN,NaN,188925.0,NaN,NaN,NaN,NaN,NaN
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,NaN,Birmingham,AL,35294.0,1,NCAA Division I-FBS,NaN,...,NaN,NaN,NaN,430503.0,339840.0,NaN,NaN,NaN,NaN,NaN
2,100706,University of Alabama in Huntsville,301 Sparkman Dr,NaN,Huntsville,AL,35899.0,5,NCAA Division II without football,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100724,Alabama State University,915 S Jackson Street,NaN,Montgomery,AL,36104.0,2,NCAA Division I-FCS,NaN,...,NaN,NaN,NaN,NaN,186212.0,NaN,NaN,NaN,NaN,NaN
4,100751,The University of Alabama,739 University Blvd,NaN,Tuscaloosa,AL,35487.0,1,NCAA Division I-FBS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bama = eada[eada['institution_name']=='The University of Alabama']

In [8]:
bama['IL_PARTIC_WOMEN']

4    416.0
Name: IL_PARTIC_WOMEN, dtype: float64

In [9]:
eada['EFTotalCount'].value_counts()

370      4
727      4
1246     4
654      4
1659     4
        ..
623      1
2672     1
6772     1
10870    1
2114     1
Name: EFTotalCount, Length: 1750, dtype: int64

In [10]:
# Grabbing IPEDS ID, Institution Name, total student athlete numbers, and total athletic dept expenses/revenues
eada_small = eada[['unitid', 'institution_name', 'IL_PARTIC_MEN', 'IL_PARTIC_WOMEN', 'GRND_TOTAL_EXPENSE', 'GRND_TOTAL_REVENUE']]

In [11]:
eada_small

,unitid,institution_name,IL_PARTIC_MEN,IL_PARTIC_WOMEN,GRND_TOTAL_EXPENSE,GRND_TOTAL_REVENUE
0,100654,Alabama A & M University,191.0,133.0,13626724,13790500
1,100663,University of Alabama at Birmingham,224.0,201.0,35697117,36494380
2,100706,University of Alabama in Huntsville,272.0,195.0,7781027,7781027
3,100724,Alabama State University,255.0,177.0,11639722,11639722
4,100751,The University of Alabama,342.0,416.0,166812799,166812799
...,...,...,...,...,...,...
2069,489201,Clovis Community College,55.0,49.0,495657,495657
2070,489937,Piedmont International University,78.0,66.0,2169500,2169500
2071,490805,Purdue University Northwest,112.0,105.0,3560693,3560693
2072,492069,Champion Christian College,54.0,0.0,93483,93483
2073,800001,Simon Fraser University,260.0,195.0,8684391,8684391

**College Scorecard**
- More US Dept of Education Data (https://collegescorecard.ed.gov/)

In [12]:
#cs = pd.read_csv('data/MERGED2018_19_PP.csv')

In [13]:
#cs.head()

In [14]:
#cs['DEBT_N'].value_counts()

In [15]:
# Grabbing IPEDS ID, Institution Name, and full-time/part-time retention rates
#cs_small = cs[['UNITID', 'INSTNM', 'RET_FT4', 'RET_PT4']]

In [16]:
#cs_small

**NCES (National Center for Education Statistics) IPEDS (Integrated Postsecondary Education Data System)**
- Enrollment and Rention Records (https://nces.ed.gov/ipeds/)
- This contains the same data as the College Scorecard, so I don't think I need the latter anymore...

In [17]:
ipeds = pd.read_csv('data/IPEDS.csv')

In [18]:
ipeds.head()

,unitid,institution name,year,DRVEF2018_RV.Total enrollment,DRVEF2018_RV.Full-time enrollment,DRVEF2018_RV.Part-time enrollment,"EF2018D_RV.Full-time retention rate, 2018","EF2018D_RV.Part-time retention rate, 2018"
0,100654,Alabama A & M University,2018,6106.0,5492.0,614.0,61.0,100.0
1,100663,University of Alabama at Birmingham,2018,21923.0,14220.0,7703.0,82.0,46.0
2,100690,Amridge University,2018,755.0,295.0,460.0,NaN,NaN
3,100706,University of Alabama in Huntsville,2018,9736.0,7125.0,2611.0,83.0,9.0
4,100724,Alabama State University,2018,4413.0,3934.0,479.0,59.0,13.0

In [19]:
ipeds['EF2018D_RV.Full-time retention rate, 2018'].mean()

68.97054631828979

In [20]:
bama2 = ipeds[ipeds['institution name']=='The University of Alabama']

In [21]:
bama2

,unitid,institution name,year,DRVEF2018_RV.Total enrollment,DRVEF2018_RV.Full-time enrollment,DRVEF2018_RV.Part-time enrollment,"EF2018D_RV.Full-time retention rate, 2018","EF2018D_RV.Part-time retention rate, 2018"
6,100751,The University of Alabama,2018,38390.0,33038.0,5352.0,88.0,64.0

Institution ID Labels:

- Knight = 'IPEDS ID'
- EADA = 'unitid'
- CS = 'UNITID'
- IPEDS = 'unitid'

In [22]:
# Combining IPEDS enrollment/retention numbers with EADA athletic expenses/revenues and student participation
merge_1 = pd.merge(ipeds, eada_small, how='inner', left_on=['unitid', 'institution name'], right_on = ['unitid', 'institution_name'])

In [23]:
df = pd.merge(merge_1, knight, how='inner', 
              left_on=['unitid', 'institution name'], 
              right_on = ['IPEDS ID', 'Data'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 283
Data columns (total 44 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   unitid                                                                 284 non-null    int64
 1   institution name                                                       284 non-null    object
 2   year                                                                   284 non-null    int64
 3   DRVEF2018_RV.Total  enrollment                                         284 non-null    float64
 4   DRVEF2018_RV.Full-time enrollment                                      284 non-null    float64
 5   DRVEF2018_RV.Part-time enrollment                                      284 non-null    float64
 6   EF2018D_RV.Full-time retention rate, 2018                              284 non-null    float64
 7   EF2018D_RV.Part-time retention rate, 2018                              244 non-null    float64
 8   institution_name                                                       284 non-null    object
 9   IL_PARTIC_MEN                                                          284 non-null    float64
 10  IL_PARTIC_WOMEN                                                        284 non-null    float64
 11  GRND_TOTAL_EXPENSE                                                     284 non-null    int64
 12  GRND_TOTAL_REVENUE                                                     284 non-null    int64
 13  Data                                                                   284 non-null    object
 14  IPEDS ID                                                               284 non-null    int64
 15  Year                                                                   284 non-null    int64
 16  NCAA Subdivision                                                       284 non-null    object
 17  FBS Conference                                                         98 non-null     object
 18  Total Expenses                                                         183 non-null    float64
 19  Excess Transfers Back                                                  183 non-null    float64
 20  Other Expenses                                                         183 non-null    float64
 21  Medical                                                                183 non-null    float64
 22  Competition Guarantees                                                 182 non-null    float64
 23  Recruiting                                                             182 non-null    float64
 24  Game Expenses and Travel                                               183 non-null    float64
 25  Facilities and Equipment                                               183 non-null    float64
 26  Coaches Compensation                                                   183 non-null    float64
 27  Support and Admin Compensation w/Severance                             183 non-null    float64
 28  Athletic Student Aid                                                   183 non-null    float64
 29  Total Revenues                                                         183 non-null    float64
 30  Other Revenue                                                          183 non-null    float64
 31  Corporate Sponsorship, Advertising, Licensing                          179 non-null    float64
 32  Donor Contributions                                                    183 non-null    float64
 33  Competition Guarantees.1                                               182 non-null    float64
 34  NCAA/Conference Distributions, Media Rights, and Post-Season Football  183 non-null    float64
 35  Ticket Sales                                                           183 non-null    float64
 36  Institutional/Government Support                                       183 non-null    float64
 37  Student Fees                                                           152 non-null    float64
 38  Total Institutional/Government Support and Student Fees                183 non-null    float64
 39  Total Academic Spending (University-Wide)                              283 non-null    float64
 40  Total Football Spending                                                145 non-null    float64
 41  Total Football Coaching Salaries                                       145 non-null    float64
 42  Athletics Related Debt                                                 142 non-null    float64
 43  Annual Debt Service, Leases and Rental Fees on Athletic Facilities     143 non-null    float64
dtypes: float64(33), int64(6), object(5)
memory usage: 99.8+ KB

In [25]:
df = df.drop(columns=['institution_name', 'Data', 'IPEDS ID', 'Year'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 283
Data columns (total 40 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   unitid                                                                 284 non-null    int64
 1   institution name                                                       284 non-null    object
 2   year                                                                   284 non-null    int64
 3   DRVEF2018_RV.Total  enrollment                                         284 non-null    float64
 4   DRVEF2018_RV.Full-time enrollment                                      284 non-null    float64
 5   DRVEF2018_RV.Part-time enrollment                                      284 non-null    float64
 6   EF2018D_RV.Full-time retention rate, 2018                              284 non-null    float64
 7   EF2018D_RV.Part-time retention rate, 2018                              244 non-null    float64
 8   IL_PARTIC_MEN                                                          284 non-null    float64
 9   IL_PARTIC_WOMEN                                                        284 non-null    float64
 10  GRND_TOTAL_EXPENSE                                                     284 non-null    int64
 11  GRND_TOTAL_REVENUE                                                     284 non-null    int64
 12  NCAA Subdivision                                                       284 non-null    object
 13  FBS Conference                                                         98 non-null     object
 14  Total Expenses                                                         183 non-null    float64
 15  Excess Transfers Back                                                  183 non-null    float64
 16  Other Expenses                                                         183 non-null    float64
 17  Medical                                                                183 non-null    float64
 18  Competition Guarantees                                                 182 non-null    float64
 19  Recruiting                                                             182 non-null    float64
 20  Game Expenses and Travel                                               183 non-null    float64
 21  Facilities and Equipment                                               183 non-null    float64
 22  Coaches Compensation                                                   183 non-null    float64
 23  Support and Admin Compensation w/Severance                             183 non-null    float64
 24  Athletic Student Aid                                                   183 non-null    float64
 25  Total Revenues                                                         183 non-null    float64
 26  Other Revenue                                                          183 non-null    float64
 27  Corporate Sponsorship, Advertising, Licensing                          179 non-null    float64
 28  Donor Contributions                                                    183 non-null    float64
 29  Competition Guarantees.1                                               182 non-null    float64
 30  NCAA/Conference Distributions, Media Rights, and Post-Season Football  183 non-null    float64
 31  Ticket Sales                                                           183 non-null    float64
 32  Institutional/Government Support                                       183 non-null    float64
 33  Student Fees                                                           152 non-null    float64
 34  Total Institutional/Government Support and Student Fees                183 non-null    float64
 35  Total Academic Spending (University-Wide)                              283 non-null    float64
 36  Total Football Spending                                                145 non-null    float64
 37  Total Football Coaching Salaries                                       145 non-null    float64
 38  Athletics Related Debt                                                 142 non-null    float64
 39  Annual Debt Service, Leases and Rental Fees on Athletic Facilities     143 non-null    float64
dtypes: float64(33), int64(4), object(3)
memory usage: 91.0+ KB

In [27]:
df.rename(columns={'DRVEF2018_RV.Total  enrollment': 'Total Enrollment', 
                  'DRVEF2018_RV.Full-time enrollment': 'Full-Time Enrollment',
                  'DRVEF2018_RV.Part-time enrollment': 'Part-Time Enrollment',
                  'EF2018D_RV.Full-time retention rate, 2018': 'Full-Time Retention Rate',
                  'EF2018D_RV.Part-time retention rate, 2018': 'Part-Time Retention Rate'},
         inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 283
Data columns (total 40 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   unitid                                                                 284 non-null    int64
 1   institution name                                                       284 non-null    object
 2   year                                                                   284 non-null    int64
 3   Total Enrollment                                                       284 non-null    float64
 4   Full-Time Enrollment                                                   284 non-null    float64
 5   Part-Time Enrollment                                                   284 non-null    float64
 6   Full-Time Retention Rate                                               284 non-null    float64
 7   Part-Time Retention Rate                                               244 non-null    float64
 8   IL_PARTIC_MEN                                                          284 non-null    float64
 9   IL_PARTIC_WOMEN                                                        284 non-null    float64
 10  GRND_TOTAL_EXPENSE                                                     284 non-null    int64
 11  GRND_TOTAL_REVENUE                                                     284 non-null    int64
 12  NCAA Subdivision                                                       284 non-null    object
 13  FBS Conference                                                         98 non-null     object
 14  Total Expenses                                                         183 non-null    float64
 15  Excess Transfers Back                                                  183 non-null    float64
 16  Other Expenses                                                         183 non-null    float64
 17  Medical                                                                183 non-null    float64
 18  Competition Guarantees                                                 182 non-null    float64
 19  Recruiting                                                             182 non-null    float64
 20  Game Expenses and Travel                                               183 non-null    float64
 21  Facilities and Equipment                                               183 non-null    float64
 22  Coaches Compensation                                                   183 non-null    float64
 23  Support and Admin Compensation w/Severance                             183 non-null    float64
 24  Athletic Student Aid                                                   183 non-null    float64
 25  Total Revenues                                                         183 non-null    float64
 26  Other Revenue                                                          183 non-null    float64
 27  Corporate Sponsorship, Advertising, Licensing                          179 non-null    float64
 28  Donor Contributions                                                    183 non-null    float64
 29  Competition Guarantees.1                                               182 non-null    float64
 30  NCAA/Conference Distributions, Media Rights, and Post-Season Football  183 non-null    float64
 31  Ticket Sales                                                           183 non-null    float64
 32  Institutional/Government Support                                       183 non-null    float64
 33  Student Fees                                                           152 non-null    float64
 34  Total Institutional/Government Support and Student Fees                183 non-null    float64
 35  Total Academic Spending (University-Wide)                              283 non-null    float64
 36  Total Football Spending                                                145 non-null    float64
 37  Total Football Coaching Salaries                                       145 non-null    float64
 38  Athletics Related Debt                                                 142 non-null    float64
 39  Annual Debt Service, Leases and Rental Fees on Athletic Facilities     143 non-null    float64
dtypes: float64(33), int64(4), object(3)
memory usage: 91.0+ KB

In [29]:
df['NCAA Subdivision'].value_counts()

Football Championship Subdivision    105
Football Bowl Subdivision             98
No Football Subdivision               81
Name: NCAA Subdivision, dtype: int64

In [30]:
df['FBS Conference'].value_counts()

Conference USA                  14
Atlantic Coast Conference       11
Southeastern Conference         11
Pacific-12 Conference           10
American Athletic Conference     9
Mountain West Conference         9
Sun Belt Conference              9
Big Ten Conference               8
Big 12 Conference                8
Mid-American Conference          6
Independent                      3
Name: FBS Conference, dtype: int64

In [31]:
fcs = df[df['NCAA Subdivision'] == 'Football Championship Subdivision']

In [32]:
nfs = df[df['NCAA Subdivision'] == 'No Football Subdivision']

In [33]:
fbs = df[df['NCAA Subdivision'] == 'Football Bowl Subdivision']

In [34]:
fcs['Full-Time Retention Rate'].mean()

78.0952380952381

In [35]:
nfs['Full-Time Retention Rate'].mean()

80.81481481481481

In [36]:
fbs['Full-Time Retention Rate'].mean()

85.06122448979592

In [37]:
# Merging based on IPEDS to keep the most retention rates
merge_3 = pd.merge(ipeds, eada_small, how = 'inner', 
                  left_on=['unitid', 'institution name'], 
                   right_on = ['unitid', 'institution_name'])

In [38]:
merge_3['EF2018D_RV.Full-time retention rate, 2018'].mean()

71.3847874720358

In [39]:
df_3 = pd.merge(merge_3, knight, how='left', 
              left_on=['unitid', 'institution name'], 
              right_on = ['IPEDS ID', 'Data'])

In [40]:
df_3['EF2018D_RV.Full-time retention rate, 2018'].mean()

71.3847874720358

In [41]:
# Experimenting with different merge methods to see how it impacts retention rates
# This is starting with Knight data because it's the smallest set of the three.
merge_4 = pd.merge(knight, ipeds, how = 'left',
                  left_on = ['IPEDS ID', 'Data'],
                  right_on = ['unitid', 'institution name'])

In [42]:
df_4 = pd.merge(merge_4, eada_small, how = 'left',
               left_on = ['IPEDS ID', 'Data'],
               right_on = ['unitid', 'institution_name'])

In [43]:
df_4['EF2018D_RV.Full-time retention rate, 2018'].mean()

81.3527397260274